* {
    box-sizing: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
}
 div{
    border-radius: 3%;
    background-color: hsl(216, 50%, 16%);
    width: 305px;
    padding-top: 15px;
    margin-left: 34%;
    margin-top: 9%;
    padding-left: 10px;
    padding-bottom: 15px;

}
.eth{
    width: 290px;
    height: 290px;
    border-radius: 2%;
    padding-bottom: 20px;
}
.avatar{
    width: 32px;
    height: 32px;
}
body{
    background-color: hsl(217, 54%, 11%);
}
.icon{
    display: flex;
    padding-bottom: 20px;
}
.line{
    display:flex;
}
hr{
    color: hsl(215, 32%, 27%);
    border: solid 1px;
    margin-bottom: 20px;
}
.name:hover{
    color: hsl(178, 100%, 50%);
}
.topic:hover{
    color: cyan;
}
.p{
    padding-bottom: 20px;
}
.name{
    color: white;
}
.topic{
    color: white;
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 20px;
    
}
.eth:hover{
    color: cyan;
}
@media(max-width:768px){
    div{
    margin-left: 6cm;
    margin-right: 10%;
    }
}
@media (max-width:425px){
div{
    margin-left: 20px;
    margin-top: 2cm;
    margin-right: 10%;
} 
}

@media (max-width:375px){
    div{
        margin-top: 3.5cm;
        margin-left: 10px;
    }
}

@media (max-width:320px){
    div{
        margin-top: 2.5cm;
        margin-right: 5px;
        margin-left: 0;

    }
}
